Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Character/Enemy/BP_EnemySpawner.uasset
Content/Character/BP_PlayerCharacter.uasset
plugins/MetaXR/Source/Thirdparty/OVRPlugin/OVRPluginXR.build.cs
plugins/MetaXR/Source/Thirdparty/OVRPlugin/OVRPlugin/LICENSE.txt
plugins/MetaXR/Source/Thirdparty/OVRPlugin/OVRPlugin/Lib/Win64/OpenXR/OVRPlugin.lib
plugins/MetaXR/Source/Thirdparty/OVRPlugin/OVRPlugin/Lib/Win64/OpenXR/OVRPlugin.dll
plugins/MetaXR/Source/Thirdparty/OVRPlugin/OVRPlugin/Lib/arm64-v8a/OpenXR/libOVRPlugin.so
plugins/MetaXR/Source/Thirdparty/OVRPlugin/OVRPlugin/Include/OVR_Plugin_Types_Deprecated.h
plugins/MetaXR/Source/Thirdparty/OVRPlugin/OVRPlugin/Include/OVR_Plugin_Types.h
plugins/MetaXR/Source/Thirdparty/OVRPlugin/OVRPlugin/Include/OVR_Plugin_MixedReality_Deprecated.h
plugins/MetaXR/Source/Thirdparty/OVRPlugin/OVRPlugin/Include/OVR_Plugin_MixedReality.h
plugins/MetaXR/Source/Thirdparty/OVRPlugin/OVRPlugin/Include/OVR_Plugin_Media.h
plugins/MetaXR/Source/Thirdparty/OVRPlugin/OVRPlugin/Include/OVR_Plugin_Ktx.h
plugins/MetaXR/Source/Thirdparty/OVRPlugin/OVRPlugin/Include/OVR_Plugin_Insight.h
plugins/MetaXR/Source/Thirdparty/OVRPlugin/OVRPlugin/Include/OVR_Plugin_Deprecated.h
plugins/MetaXR/Source/Thirdparty/OVRPlugin/OVRPlugin/Include/OVR_Plugin.h
plugins/MetaXR/Source/Thirdparty/OpenXR/OpenXRHeaders.build.cs
plugins/MetaXR/Source/Thirdparty/OpenXR/LICENSES/MIT.txt
plugins/MetaXR/Source/Thirdparty/OpenXR/LICENSES/Apache-2.0.txt
plugins/MetaXR/Source/Thirdparty/OpenXR/LICENSE
plugins/MetaXR/Source/Thirdparty/OpenXR/include/khronos/openxr/openxr_reflection.h
plugins/MetaXR/Source/Thirdparty/OpenXR/include/khronos/openxr/openxr_platform_defines.h
plugins/MetaXR/Source/Thirdparty/OpenXR/include/khronos/openxr/openxr_platform.h
plugins/MetaXR/Source/Thirdparty/OpenXR/include/khronos/openxr/openxr.h
plugins/MetaXR/Source/Thirdparty/KhronosOpenXR/LICENSES/MIT.txt
plugins/MetaXR/Source/Thirdparty/KhronosOpenXR/LICENSES/Apache-2.0.txt
plugins/MetaXR/Source/Thirdparty/KhronosOpenXR/LICENSE
plugins/MetaXR/Source/Thirdparty/KhronosOpenXR/KhronosOpenXRHeaders.build.cs
plugins/MetaXR/Source/Thirdparty/KhronosOpenXR/include/khronos/openxr/openxr_reflection_structs.h
plugins/MetaXR/Source/Thirdparty/KhronosOpenXR/include/khronos/openxr/openxr_reflection_parent_structs.h
plugins/MetaXR/Source/Thirdparty/KhronosOpenXR/include/khronos/openxr/openxr_reflection.h
plugins/MetaXR/Source/Thirdparty/KhronosOpenXR/include/khronos/openxr/openxr_platform_defines.h
plugins/MetaXR/Source/Thirdparty/KhronosOpenXR/include/khronos/openxr/openxr_platform.h
plugins/MetaXR/Source/Thirdparty/KhronosOpenXR/include/khronos/openxr/openxr.h
plugins/MetaXR/Source/OculusXRScene/Public/OculusXRSceneTypes.h
plugins/MetaXR/Source/OculusXRScene/Public/OculusXRSceneSubsystem.h
plugins/MetaXR/Source/OculusXRScene/Public/OculusXRSceneGlobalMeshComponent.h
plugins/MetaXR/Source/OculusXRScene/Public/OculusXRSceneFunctionLibrary.h
plugins/MetaXR/Source/OculusXRScene/Public/OculusXRSceneEventDelegates.h
plugins/MetaXR/Source/OculusXRScene/Public/OculusXRSceneDelegates.h
plugins/MetaXR/Source/OculusXRScene/Public/OculusXRSceneAnchorComponent.h
plugins/MetaXR/Source/OculusXRScene/Public/OculusXRSceneActor.h
plugins/MetaXR/Source/OculusXRScene/Public/OculusXRScene.h
plugins/MetaXR/Source/OculusXRScene/Public/IOculusXRSceneModule.h
plugins/MetaXR/Source/OculusXRScene/Private/OculusXRSceneSubsystem.cpp
plugins/MetaXR/Source/OculusXRScene/Private/OculusXRSceneModule.h
plugins/MetaXR/Source/OculusXRScene/Private/OculusXRSceneModule.cpp
plugins/MetaXR/Source/OculusXRScene/Private/OculusXRSceneGlobalMeshComponent.cpp
plugins/MetaXR/Source/OculusXRScene/Private/OculusXRSceneFunctionLibrary.cpp
plugins/MetaXR/Source/OculusXRScene/Private/OculusXRSceneEventHandling.h
plugins/MetaXR/Source/OculusXRScene/Private/OculusXRSceneEventHandling.cpp
plugins/MetaXR/Source/OculusXRScene/Private/OculusXRSceneDelegates.cpp
plugins/MetaXR/Source/OculusXRScene/Private/OculusXRSceneAnchorComponent.cpp
plugins/MetaXR/Source/OculusXRScene/Private/OculusXRSceneActor.cpp
plugins/MetaXR/Source/OculusXRScene/Private/OculusXRScene.cpp
plugins/MetaXR/Source/OculusXRScene/OculusXRScene.Build.cs
plugins/MetaXR/Source/OculusXRProjectSetupTool/Public/OculusXRSetupRule.h
plugins/MetaXR/Source/OculusXRProjectSetupTool/Public/OculusXRRuleProcessorSubsystem.h
plugins/MetaXR/Source/OculusXRProjectSetupTool/Public/OculusXRPSTSettings.h
plugins/MetaXR/Source/OculusXRProjectSetupTool/Public/IOculusXRProjectSetupModule.h
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/Widget/OculusXRStatusBarWidget.h
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/Widget/OculusXRStatusBarWidget.cpp
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/Widget/OculusXRProjectTutorialWidget.h
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/Widget/OculusXRProjectTutorialWidget.cpp
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/Widget/OculusXRProjectSetupToolWidget.h
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/Widget/OculusXRProjectSetupToolWidget.cpp
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/Tests/OculusXRProjectSetupTool.spec.cpp
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/Rules/OculusXRRenderingRules.h
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/Rules/OculusXRRenderingRules.cpp
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/Rules/OculusXRPluginRules.h
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/Rules/OculusXRPluginRules.cpp
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/Rules/OculusXRPassthroughRules.h
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/Rules/OculusXRPassthroughRules.cpp
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/Rules/OculusXRMovementRules.h
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/Rules/OculusXRMovementRules.cpp
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/Rules/OculusXRCompatibilityRules.h
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/Rules/OculusXRCompatibilityRules.cpp
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/Rules/OculusXRAnchorsRules.h
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/Rules/OculusXRAnchorsRules.cpp
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/OculusXRSetupRule.cpp
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/OculusXRRuleProcessorSubsystem.cpp
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/OculusXRPSTUtils.h
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/OculusXRPSTEvents.h
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/OculusXRProjectSetupToolModule.h
plugins/MetaXR/Source/OculusXRProjectSetupTool/Private/OculusXRProjectSetupToolModule.cpp
plugins/MetaXR/Source/OculusXRProjectSetupTool/OculusXRProjectSetupTool.Build.cs
plugins/MetaXR/Source/OculusXRPassthrough/Public/OculusXRPassthroughLayerComponent.h
plugins/MetaXR/Source/OculusXRPassthrough/Public/OculusXRPassthroughColorLut.h
plugins/MetaXR/Source/OculusXRPassthrough/Public/IOculusXRPassthroughModule.h
plugins/MetaXR/Source/OculusXRPassthrough/Private/OculusXRPassthroughXRFunctions.h
plugins/MetaXR/Source/OculusXRPassthrough/Private/OculusXRPassthroughXRFunctions.cpp
plugins/MetaXR/Source/OculusXRPassthrough/Private/OculusXRPassthroughXR.h
plugins/MetaXR/Source/OculusXRPassthrough/Private/OculusXRPassthroughXR.cpp
plugins/MetaXR/Source/OculusXRPassthrough/Private/OculusXRPassthroughModule.h
plugins/MetaXR/Source/OculusXRPassthrough/Private/OculusXRPassthroughModule.cpp
plugins/MetaXR/Source/OculusXRPassthrough/Private/OculusXRPassthroughLayerComponent.cpp
plugins/MetaXR/Source/OculusXRPassthrough/Private/OculusXRPassthroughLayer.h
plugins/MetaXR/Source/OculusXRPassthrough/Private/OculusXRPassthroughLayer.cpp
plugins/MetaXR/Source/OculusXRPassthrough/Private/OculusXRPassthroughColorLut.cpp
plugins/MetaXR/Source/OculusXRPassthrough/OculusXRPassthrough.Build.cs
plugins/MetaXR/Source/OculusXROpenXRHMD/Public/IOculusXROpenXRHMDPlugin.h
plugins/MetaXR/Source/OculusXROpenXRHMD/Private/OculusXROpenXRHMDPrivate.h
plugins/MetaXR/Source/OculusXROpenXRHMD/Private/OculusXROpenXRHMDPrivate.cpp
plugins/MetaXR/Source/OculusXROpenXRHMD/Private/OculusXROpenXRHMD.h
plugins/MetaXR/Source/OculusXROpenXRHMD/Private/OculusXROpenXRHMD.cpp
plugins/MetaXR/Source/OculusXROpenXRHMD/Private/OculusXRHMDXRFunctions.h
plugins/MetaXR/Source/OculusXROpenXRHMD/Private/OculusXRHMDXRFunctions.cpp
plugins/MetaXR/Source/OculusXROpenXRHMD/OculusXROpenXRHMD.Build.cs
plugins/MetaXR/Source/OculusXRMR/Public/OculusXRMRFunctionLibrary.h
plugins/MetaXR/Source/OculusXRMR/Public/OculusXRMR_Settings.h
plugins/MetaXR/Source/OculusXRMR/Public/IOculusXRMRModule.h
plugins/MetaXR/Source/OculusXRMR/Private/OculusXRMRPrivate.h
plugins/MetaXR/Source/OculusXRMR/Private/OculusXRMRModule.h
plugins/MetaXR/Source/OculusXRMR/Private/OculusXRMRModule.cpp
plugins/MetaXR/Source/OculusXRMR/Private/OculusXRMRFunctionLibrary.cpp
plugins/MetaXR/Source/OculusXRMR/Private/OculusXRMR_State.h
plugins/MetaXR/Source/OculusXRMR/Private/OculusXRMR_State.cpp
plugins/MetaXR/Source/OculusXRMR/Private/OculusXRMR_Settings.cpp
plugins/MetaXR/Source/OculusXRMR/Private/OculusXRMR_PlaneMeshComponent.h
plugins/MetaXR/Source/OculusXRMR/Private/OculusXRMR_PlaneMeshComponent.cpp
plugins/MetaXR/Source/OculusXRMR/Private/OculusXRMR_CastingCameraActor.h
plugins/MetaXR/Source/OculusXRMR/Private/OculusXRMR_CastingCameraActor.cpp
plugins/MetaXR/Source/OculusXRMR/OculusXRMR.Build.cs
plugins/MetaXR/Source/OculusXRMovement/Public/OculusXRMovementTypes.h
plugins/MetaXR/Source/OculusXRMovement/Public/OculusXRMovementHelpers.h
plugins/MetaXR/Source/OculusXRMovement/Public/OculusXRMovementFunctionLibrary.h
plugins/MetaXR/Source/OculusXRMovement/Public/OculusXRMovement.h
plugins/MetaXR/Source/OculusXRMovement/Public/OculusXRMorphTargetsController.h
plugins/MetaXR/Source/OculusXRMovement/Public/OculusXRLiveLinkRetargetFaceAsset.h
plugins/MetaXR/Source/OculusXRMovement/Public/OculusXRLiveLinkRetargetBodyAsset.h
plugins/MetaXR/Source/OculusXRMovement/Public/OculusXRFaceTrackingComponent.h
plugins/MetaXR/Source/OculusXRMovement/Public/OculusXREyeTrackingComponent.h
plugins/MetaXR/Source/OculusXRMovement/Public/OculusXRBodyTrackingComponent.h
plugins/MetaXR/Source/OculusXRMovement/Public/IOculusXRMovementModule.h
plugins/MetaXR/Source/OculusXRMovement/Private/OculusXRTelemetryMovementEvents.h
plugins/MetaXR/Source/OculusXRMovement/Private/OculusXRMovementTypes.cpp
plugins/MetaXR/Source/OculusXRMovement/Private/OculusXRMovementModule.h
plugins/MetaXR/Source/OculusXRMovement/Private/OculusXRMovementModule.cpp
plugins/MetaXR/Source/OculusXRMovement/Private/OculusXRMovementLog.h
plugins/MetaXR/Source/OculusXRMovement/Private/OculusXRMovementLiveLink.h
plugins/MetaXR/Source/OculusXRMovement/Private/OculusXRMovementLiveLink.cpp
plugins/MetaXR/Source/OculusXRMovement/Private/OculusXRMovementFunctionLibrary.cpp
plugins/MetaXR/Source/OculusXRMovement/Private/OculusXRMovement.cpp
plugins/MetaXR/Source/OculusXRMovement/Private/OculusXRMorphTargetsController.cpp
plugins/MetaXR/Source/OculusXRMovement/Private/OculusXRLiveLinkRetargetFaceAsset.cpp
plugins/MetaXR/Source/OculusXRMovement/Private/OculusXRLiveLinkRetargetBodyAsset.cpp
plugins/MetaXR/Source/OculusXRMovement/Private/OculusXRFaceTrackingComponent.cpp
plugins/MetaXR/Source/OculusXRMovement/Private/OculusXREyeTrackingComponent.cpp
plugins/MetaXR/Source/OculusXRMovement/Private/OculusXRBodyTrackingComponent.cpp
plugins/MetaXR/Source/OculusXRMovement/Private/LiveLinkOculusXRMovementSourceFactory.h
plugins/MetaXR/Source/OculusXRMovement/Private/LiveLinkOculusXRMovementSourceFactory.cpp
plugins/MetaXR/Source/OculusXRMovement/OculusXRMovement.Build.cs
plugins/MetaXR/Source/OculusXRInput/Public/OculusXRInputFunctionLibrary.h
plugins/MetaXR/Source/OculusXRInput/Public/OculusXRHandComponent.h
plugins/MetaXR/Source/OculusXRInput/Public/OculusXRControllerComponent.h
plugins/MetaXR/Source/OculusXRInput/Public/IOculusXRInputModule.h
plugins/MetaXR/Source/OculusXRInput/Private/OculusXRInputState.h
plugins/MetaXR/Source/OculusXRInput/Private/OculusXRInputModule.h
plugins/MetaXR/Source/OculusXRInput/Private/OculusXRInputModule.cpp
plugins/MetaXR/Source/OculusXRInput/Private/OculusXRInputFunctionLibrary.cpp
plugins/MetaXR/Source/OculusXRInput/Private/OculusXRInput.h
plugins/MetaXR/Source/OculusXRInput/Private/OculusXRInput.cpp
plugins/MetaXR/Source/OculusXRInput/Private/OculusXRHandTracking.h
plugins/MetaXR/Source/OculusXRInput/Private/OculusXRHandTracking.cpp
plugins/MetaXR/Source/OculusXRInput/Private/OculusXRHandComponent.cpp
plugins/MetaXR/Source/OculusXRInput/Private/OculusXRControllerTracking.h
plugins/MetaXR/Source/OculusXRInput/Private/OculusXRControllerTracking.cpp
plugins/MetaXR/Source/OculusXRInput/Private/OculusXRControllerComponent.cpp
plugins/MetaXR/Source/OculusXRInput/OculusXRInput.Build.cs
plugins/MetaXR/Source/OculusXRHMD/Public/OculusXRTelemetry.h
plugins/MetaXR/Source/OculusXRHMD/Public/OculusXRQPL.h
plugins/MetaXR/Source/OculusXRHMD/Public/OculusXRPassthroughMesh.h
plugins/MetaXR/Source/OculusXRHMD/Public/OculusXRPassthroughLayerShapes.h
plugins/MetaXR/Source/OculusXRHMD/Public/OculusXRHMDTypes.h
plugins/MetaXR/Source/OculusXRHMD/Public/OculusXRHMDRuntimeSettings.h
plugins/MetaXR/Source/OculusXRHMD/Public/OculusXRFunctionLibrary.h
plugins/MetaXR/Source/OculusXRHMD/Public/OculusXREventComponent.h
plugins/MetaXR/Source/OculusXRHMD/Public/OculusXRAssetDirectory.h
plugins/MetaXR/Source/OculusXRHMD/Public/IOculusXRHMDModule.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRTelemetryPrivacySettings.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRTelemetryPrivacySettings.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRTelemetryEvents.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRTelemetry.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRSyntheticEnvironmentServer.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRSyntheticEnvironmentServer.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRSimulator.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRSimulator.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRSceneCaptureCubemap.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRSceneCaptureCubemap.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRResourceHolder.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRResourceHolder.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRQPL.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRPluginWrapper.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRPluginWrapper.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRPassthroughLayerShapes.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMDRuntimeSettings.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMDPrivateRHI.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMDPrivate.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMDPrivate.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMDModule.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMDModule.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_VulkanExtensions.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_VulkanExtensions.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_StressTester.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_StressTester.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_Splash.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_Splash.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_SpectatorScreenController.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_SpectatorScreenController.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_Settings.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_Settings.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_Layer.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_Layer.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_GameFrame.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_GameFrame.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_FoveatedRendering.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_FoveatedRendering.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_DynamicResolutionState.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_DynamicResolutionState.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_DeferredDeletionQueue.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_DeferredDeletionQueue.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_CustomPresent_Vulkan.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_CustomPresent_D3D12.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_CustomPresent_D3D11.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_CustomPresent.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_CustomPresent.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_ConsoleCommands.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD_ConsoleCommands.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRHMD.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRFunctionLibrary.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXREventComponent.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRDelegates.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRDelegates.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRAssetManager.h
plugins/MetaXR/Source/OculusXRHMD/Private/OculusXRAssetManager.cpp
plugins/MetaXR/Source/OculusXRHMD/Private/OculusStressTestShader.usf
plugins/MetaXR/Source/OculusXRHMD/OculusXRHMD.Build.cs
plugins/MetaXR/Source/OculusXRHMD/OculusMobile_APL.xml
plugins/MetaXR/Source/OculusXREyeTracker/Private/OculusXRTelemetryEyeTrackerEvents.h
plugins/MetaXR/Source/OculusXREyeTracker/Private/OculusXREyeTracker.cpp
plugins/MetaXR/Source/OculusXREyeTracker/OculusXREyeTracker.Build.cs
plugins/MetaXR/Source/OculusXREditor/Public/OculusXRPlatformToolSettings.h
plugins/MetaXR/Source/OculusXREditor/Public/OculusXREditorSettings.h
plugins/MetaXR/Source/OculusXREditor/Public/IOculusXREditorModule.h
plugins/MetaXR/Source/OculusXREditor/Private/OculusXRToolStyle.h
plugins/MetaXR/Source/OculusXREditor/Private/OculusXRToolStyle.cpp
plugins/MetaXR/Source/OculusXREditor/Private/OculusXRToolCommands.h
plugins/MetaXR/Source/OculusXREditor/Private/OculusXRToolCommands.cpp
plugins/MetaXR/Source/OculusXREditor/Private/OculusXRTelemetryEditorEvents.h
plugins/MetaXR/Source/OculusXREditor/Private/OculusXRSettingsToggle.h
plugins/MetaXR/Source/OculusXREditor/Private/OculusXRSettingsToggle.cpp
plugins/MetaXR/Source/OculusXREditor/Private/OculusXRPrivacyNotification.h
plugins/MetaXR/Source/OculusXREditor/Private/OculusXRPrivacyNotification.cpp
plugins/MetaXR/Source/OculusXREditor/Private/OculusXRPlatformToolWidget.h
plugins/MetaXR/Source/OculusXREditor/Private/OculusXRPlatformToolWidget.cpp
plugins/MetaXR/Source/OculusXREditor/Private/OculusXRPlatformToolSettings.cpp
plugins/MetaXR/Source/OculusXREditor/Private/OculusXRPassthroughColorLutAsset.h
plugins/MetaXR/Source/OculusXREditor/Private/OculusXRPassthroughColorLutAsset.cpp
plugins/MetaXR/Source/OculusXREditor/Private/OculusXRMovementAssetsFactories.h
plugins/MetaXR/Source/OculusXREditor/Private/OculusXRMovementAssetsFactories.cpp
plugins/MetaXR/Source/OculusXREditor/Private/OculusXREditorSettings.cpp
plugins/MetaXR/Source/OculusXREditor/Private/OculusXREditorModule.h
plugins/MetaXR/Source/OculusXREditor/Private/OculusXREditorModule.cpp
plugins/MetaXR/Source/OculusXREditor/Private/OculusXRBuildAnalytics.h
plugins/MetaXR/Source/OculusXREditor/Private/OculusXRBuildAnalytics.cpp
plugins/MetaXR/Source/OculusXREditor/OculusXREditor.Build.cs
plugins/MetaXR/Source/OculusXRAnchors/Public/OculusXRSpatialAnchorComponent.h
plugins/MetaXR/Source/OculusXRAnchors/Public/OculusXRRoomLayoutManagerComponent.h
plugins/MetaXR/Source/OculusXRAnchors/Public/OculusXRAnchorTypes.h
plugins/MetaXR/Source/OculusXRAnchors/Public/OculusXRAnchors.h
plugins/MetaXR/Source/OculusXRAnchors/Public/OculusXRAnchorLatentActions.h
plugins/MetaXR/Source/OculusXRAnchors/Public/OculusXRAnchorDelegates.h
plugins/MetaXR/Source/OculusXRAnchors/Public/OculusXRAnchorComponents.h
plugins/MetaXR/Source/OculusXRAnchors/Public/OculusXRAnchorComponent.h
plugins/MetaXR/Source/OculusXRAnchors/Public/OculusXRAnchorBPFunctionLibrary.h
plugins/MetaXR/Source/OculusXRAnchors/Public/IOculusXRAnchorsModule.h
plugins/MetaXR/Source/OculusXRAnchors/Private/OculusXRTelemetryAnchorsEvents.h
plugins/MetaXR/Source/OculusXRAnchors/Private/OculusXRSpatialAnchorManager.h
plugins/MetaXR/Source/OculusXRAnchors/Private/OculusXRSpatialAnchorManager.cpp
plugins/MetaXR/Source/OculusXRAnchors/Private/OculusXRSpatialAnchorComponent.cpp
plugins/MetaXR/Source/OculusXRAnchors/Private/OculusXRRoomLayoutManagerComponent.cpp
plugins/MetaXR/Source/OculusXRAnchors/Private/OculusXRRoomLayoutManager.h
plugins/MetaXR/Source/OculusXRAnchors/Private/OculusXRRoomLayoutManager.cpp
plugins/MetaXR/Source/OculusXRAnchors/Private/OculusXRAnchorTypesPrivate.h
plugins/MetaXR/Source/OculusXRAnchors/Private/OculusXRAnchorTypesPrivate.cpp
plugins/MetaXR/Source/OculusXRAnchors/Private/OculusXRAnchorTypes.cpp
plugins/MetaXR/Source/OculusXRAnchors/Private/OculusXRAnchorsPrivate.h
plugins/MetaXR/Source/OculusXRAnchors/Private/OculusXRAnchorsModule.h
plugins/MetaXR/Source/OculusXRAnchors/Private/OculusXRAnchorsModule.cpp
plugins/MetaXR/Source/OculusXRAnchors/Private/OculusXRAnchors.cpp
plugins/MetaXR/Source/OculusXRAnchors/Private/OculusXRAnchorManager.h
plugins/MetaXR/Source/OculusXRAnchors/Private/OculusXRAnchorManager.cpp
plugins/MetaXR/Source/OculusXRAnchors/Private/OculusXRAnchorLatentActions.cpp
plugins/MetaXR/Source/OculusXRAnchors/Private/OculusXRAnchorDelegates.cpp
plugins/MetaXR/Source/OculusXRAnchors/Private/OculusXRAnchorComponents.cpp
plugins/MetaXR/Source/OculusXRAnchors/Private/OculusXRAnchorComponent.cpp
plugins/MetaXR/Source/OculusXRAnchors/Private/OculusXRAnchorBPFunctionLibrary.cpp
plugins/MetaXR/Source/OculusXRAnchors/OculusXRAnchors.Build.cs
plugins/MetaXR/Shaders/Private/ScreenPixelShaderArraySlice.usf
plugins/MetaXR/Shaders/Private/HardOcclusions.usf
plugins/MetaXR/Resources/YellowDot.svg
plugins/MetaXR/Resources/WhiteDot.svg
plugins/MetaXR/Resources/RedDot.svg
plugins/MetaXR/Resources/PlatformQuest3.svg
plugins/MetaXR/Resources/PlatformQuest2.svg
plugins/MetaXR/Resources/PlatformDesktop.svg
plugins/MetaXR/Resources/MetaQuestBackground.png
plugins/MetaXR/Resources/MetaLogo.svg
plugins/MetaXR/Resources/Icon128.png
plugins/MetaXR/Resources/GreyDot.svg
plugins/MetaXR/Resources/GreenDot.svg
plugins/MetaXR/Resources/ButtonIcon_80x.png
plugins/MetaXR/OculusXR.uplugin
plugins/MetaXR/Content/Textures/TouchForQuestRiftSController_albedo.uasset
plugins/MetaXR/Content/Textures/TouchForQuest2Material_Roughness.uasset
plugins/MetaXR/Content/Textures/TouchForQuest2_Color.uasset
plugins/MetaXR/Content/Textures/RightMetaQuestTouchProBatteryIndicator.uasset
plugins/MetaXR/Content/Textures/RightMetaQuestTouchPro_Normal.uasset
plugins/MetaXR/Content/Textures/RightMetaQuestTouchPro_Color.uasset
plugins/MetaXR/Content/Textures/RightMetaQuestTouchPlus_Color.uasset
plugins/MetaXR/Content/Textures/MetaQuestTouchProBatteryIndicator.uasset
plugins/MetaXR/Content/Textures/LeftMetaQuestTouchProBatteryIndicator.uasset
plugins/MetaXR/Content/Textures/LeftMetaQuestTouchPro_Normal.uasset
plugins/MetaXR/Content/Textures/LeftMetaQuestTouchPro_Color.uasset
plugins/MetaXR/Content/Textures/LeftMetaQuestTouchPlus_Color.uasset
plugins/MetaXR/Content/OculusMR_GreenKey.uasset
plugins/MetaXR/Content/OculusModels_License.txt
plugins/MetaXR/Content/OculusModels.tps
plugins/MetaXR/Content/MetaXRControllers.uasset
plugins/MetaXR/Content/Meshes/RightTouchForQuestRiftSController.uasset
plugins/MetaXR/Content/Meshes/RightTouchForQuestRiftSController.fbx
plugins/MetaXR/Content/Meshes/RightTouchForQuest2.uasset
plugins/MetaXR/Content/Meshes/RightMetaQuestTouchProNub.uasset
plugins/MetaXR/Content/Meshes/RightMetaQuestTouchProBatteryIndicatorQuad.uasset
plugins/MetaXR/Content/Meshes/RightMetaQuestTouchPro.uasset
plugins/MetaXR/Content/Meshes/RightMetaQuestTouchPlusBatteryIndicatorQuad.uasset
plugins/MetaXR/Content/Meshes/RightMetaQuestTouchPlus.uasset
plugins/MetaXR/Content/Meshes/RightMetaQuestTouchPlus.fbx
plugins/MetaXR/Content/Meshes/LeftTouchForQuestRiftSController.uasset
plugins/MetaXR/Content/Meshes/LeftTouchForQuestRiftSController.fbx
plugins/MetaXR/Content/Meshes/LeftTouchForQuest2.uasset
plugins/MetaXR/Content/Meshes/LeftMetaQuestTouchProNub.uasset
plugins/MetaXR/Content/Meshes/LeftMetaQuestTouchProBatteryIndicatorQuad.uasset
plugins/MetaXR/Content/Meshes/LeftMetaQuestTouchPro.uasset
plugins/MetaXR/Content/Meshes/LeftMetaQuestTouchPlusBatteryIndicatorQuad.uasset
plugins/MetaXR/Content/Meshes/LeftMetaQuestTouchPlus.uasset
plugins/MetaXR/Content/Meshes/LeftMetaQuestTouchPlus.fbx
plugins/MetaXR/Content/Materials/TouchForQuestRiftSControllerMaterial.uasset
plugins/MetaXR/Content/Materials/TouchForQuest2Material.uasset
plugins/MetaXR/Content/Materials/touchController_mat.uasset
plugins/MetaXR/Content/Materials/RightMetaQuestTouchProMaterial.uasset
plugins/MetaXR/Content/Materials/RightMetaQuestTouchProBatteryIndicatorMaterial.uasset
plugins/MetaXR/Content/Materials/RightMetaQuestTouchPlusMaterial.uasset
plugins/MetaXR/Content/Materials/PokeAHoleMaterial.uasset
plugins/MetaXR/Content/Materials/OculusMR_WhiteMaterial.uasset
plugins/MetaXR/Content/Materials/OculusMR_OpaqueColoredMaterial.uasset
plugins/MetaXR/Content/Materials/OculusMR_ChromaKey.uasset
plugins/MetaXR/Content/Materials/model_pieces_controllerMATphongRT.uasset
plugins/MetaXR/Content/Materials/MetaQuestTouchProMaterial.uasset
plugins/MetaXR/Content/Materials/MetaQuestTouchProBatteryIndicatorMaterial.uasset
plugins/MetaXR/Content/Materials/LeftMetaQuestTouchProMaterial.uasset
plugins/MetaXR/Content/Materials/LeftMetaQuestTouchProBatteryIndicatorMaterial.uasset
plugins/MetaXR/Content/Materials/LeftMetaQuestTouchPlusMaterial.uasset
plugins/MetaXR/Config/FilterPlugin.ini
plugins/MetaXR/Config/BaseOculusXR.ini
