Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Character/Enemy/BP_EnemySpawner.uasset
Content/Character/BP_PlayerCharacter.uasset
